@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro';
@import 'https://fonts.googleapis.com/css?family=Hind';


html {
  font-family: $font-family, $font-family1, 'sans-serif';
}

.title {
  font-weight: bold;
  line-height: 150px;
}
