html {
  font-family: $font-family, 'sans-serif';
}

h1 {
  font-size: 3em;
  line-height: 250px;
  text-align: center;
}

p {
  line-height: 20px;
  margin: 0 auto;
  width: 90%;
}

.title {
  font-weight: bold;
  line-height: 100px;

  @media (max-width: $screen-xs-max) {
    font-size: 2.1em;
  }

  @media (max-width: $screen-xs) {
    font-size: 1.9em;
  }

  @media (max-width: $screen-xs-min) {
    font-size: 1.7em;
  }
}

.loader {
  left: 50%;
  margin-left: -19px; // -1 * image width / 2
  margin-top: -18px; // -1 * image height / 2
  position: fixed;
  top: 50%;
}

.line {
  animation: expand 1s ease-in-out infinite;
  border-radius: 10px;
  display: inline-block;
  height: 25px;
  margin: 0 3px;
  transform: translateZ(0);
  transform-origin: center center;
  width: 1px;

  &:nth-child(1) {
    background: #27ae60;
  }

  &:nth-child(2) {
    animation-delay: -180ms;
    background: $yellow;
  }

  &:nth-child(3) {
    animation-delay: -360ms;
    background: $tomato;
  }

  &:nth-child(4) {
    animation-delay: -540ms;
    background: $blue;
  }

}

@keyframes expand {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(2);
  }
}
