.call-wrapper {
  background-color: $yellow;
  height: 550px;
  position: relative;

  @media (max-width: $screen-lg) {
    height: 650px;
  }

  @media (max-width: $screen-md-plus) {
    height: 550px;
  }

  @media (max-width: $screen-md) {
    height: 480px;
  }

  @media (max-width: $screen-sm-plus) {
    height: 350px;
  }

  @media (max-width: $screen-sm) {
    height: 300px;
  }

  @media (max-width: $screen-xs-max) {
    height: 220px;
  }

  @media (max-width: $screen-xs) {
    height: 210px;
  }

  @media (max-width: $screen-xs-min) {
    height: 180px;
  }

  img {
    position: absolute;
    top: 0;
  }

  .call-quote {
    position: absolute;
    width: 100%;

    a {
      color: $black;

      &:hover {
        border-bottom: 5px solid $black;
      }
    }

    h1 {
      color: $white;
      font-weight: bold;
      letter-spacing: 2px;
      margin: auto;

      @media (max-width: $screen-xs-max) {
        font-size: 2.1em;
      }

      @media (max-width: $screen-xs) {
        font-size: 2em;
      }

      @media (max-width: $screen-xs-min) {
        font-size: 1.8em;
        margin-top: 0;
      }

      span {
        color: $black;
      }
    }
  }

}

.footer {
  background-color: $yellow;
  height: 100%;

  .social {
    list-style-type: none;
    margin: auto;
    padding-top: 45px;
    text-align: center;
    width: 100%;

    @media (max-width: $screen-xs) {
      padding-top: 0;
    }

    @media (max-width: $screen-xs-max) {
      padding-top: 40;
    }

    a {
      padding: 15px;

      @media (max-width: $screen-xs) {
        padding: 9px;
      }

      @media (max-width: $screen-xs-max) {
        padding: 10px;
      }
    }

    img {
      width: 50px;

      @media (max-width: $screen-xs) {
        width: 42px;
      }
    }
  }
}
