.call-wrapper {
  background-color: $yellow;
  height: 550px;
  position: relative;

  @media (max-width: $screen-xs-max) {
    height: 220px;
  }

  img {
    position: absolute;
    top: 0;
  }

  .call-quote {
    position: absolute;
    width: 100%;

    a {
      color: $black;

      &:hover {
        border-bottom: 5px solid $black;
      }
    }

    h1 {
      color: $white;
      font-weight: bold;
      letter-spacing: 2px;
      margin: auto;

      @media (max-width: $screen-xs-max) {
        font-size: 2.3em;
        margin-top: 0;
      }

      span {
        color: $black;
      }
    }
  }

}

.footer {
  background-color: $yellow;
  height: 150px;
  width: 100%;

  .social {
    list-style-type: none;
    margin: auto;
    padding-top: 65px;
    width: 350px;

    @media (max-width: $screen-xs-max) {
      width: 100%;

      ul {
        padding: none;
      }
    }

    li {
      float: left;
      padding: 10px;

      @media (max-width: $screen-xs-max) {
        padding: 3px;
      }
    }

    img {
      width: 50px;
    }
  }
}
