.call-wrapper {
  background-color: $yellow;
  height: 550px;
  position: relative;

  img {
    position: absolute;
  }

  .call-quote {
    height: 100%;
    position: absolute;
    width: 100%;

    a {
      color: $black;

      &:hover {
        border-bottom: 5px solid $black;
      }
    }

    h1 {
      color: $white;
      font-weight: bold;
      letter-spacing: 2px;
      margin: auto;

      span {
        color: $black;
      }
    }
  }

}

.footer {
  background-color: $yellow;
  height: 150px;
  width: 100%;

  .social {
    list-style-type: none;
    margin: auto;
    padding-top: 50px;
    width: 350px;

    li {
      float: left;
      padding: 10px;
    }

    img {
      width: 50px;
    }
  }
}
