%b-a {
  background-color: $black;
  content: '';
  height: 4px;
  position: absolute;
  right: 0;
  transition: .25s;
  width: 40px;
}

.menu-collapsed {
  cursor: pointer;
  height: 36px;
  padding: 35px;
  position: fixed;
  right: 9px;
  top: 10px;
  transition: .25s;
  width: 36px;
  z-index: 10;

  .social-nav {
    position: fixed;
    right: -9000px;
    transition: 0s;

    img {
      width: 48px;
      @media (max-width: $screen-xs) {
        width: 38px;
      }
      @media (max-width: $screen-xs-min) {
        width: 30px;
      }
    }
  }

  @media (max-width: $screen-xs-max) {
    padding-bottom: 30px;
    padding-left: 60px;
    padding-right: 50px;
    padding-top: 30px;
  }

  @media (max-width: $screen-xs) {
    padding-left: 40px;
    padding-right: 40px;
  }

  ul {
    position: fixed;
    right: -9000px;
    transition: 0s;
  }
}

.bar {
  @extend %b-a;
  position: fixed;
  right: 24px;
  top: 36px;

  &::before {
    @extend %b-a;
    top: -10px;
  }

  &::after {
    @extend %b-a;
    top: 10px;
  }
}

%b-a-expanded {
  top: 0;
  transition: .25s;
}

.menu-expanded {
  background-color: $white;
  height: 100%;
  line-height: 100px;
  @media (max-width: $screen-xs) {
    line-height: 80px;
  }
  right: 0;
  text-align: center;
  top: 0;
  transition: .25s;
  width: 100%;

  ul {
    position: relative;
    right: 0;
    transition: 0s;
    z-index: 2;
  }

  .social-nav {
    position: relative;
    right: 0;
    z-index: 2;
  }

  a {
    color:  $black;
    font-size: 3em;
    padding: 5px;
    text-decoration: none;

    &:hover {
      border-bottom: 4px solid $blue;
    }
  }

  .bar {
    background-color: transparent;
    transition: .25s;

    &::before {
      @extend %b-a-expanded;
      transform: rotate(45deg);
    }

    &::after {
      @extend %b-a-expanded;
      transform: rotate(-45deg);
    }
  }
}
