$screen-xs-min: 280px;
$screen-xs: 330px;
$screen-xs-max: 420px;
$screen-sm: 540px;
$screen-sm-plus: 600px;
$screen-md: 768px;
$screen-md-plus: 868px;
$screen-lg-min: 1025px;
$screen-lg: 1600px;
$screen-lg-max: 1900px;
$screen-xl-min: 2100px;
$screen-xl: 3000px;
$screen-xl-max: 4000px;


$font-family: 'Source Sans Pro';
