.who-am-i {
  background-color: $blue;
  max-height: 100%;
  min-height: 500px;

  .title {
    color: $white;
    line-height: 70px;
  }

  .about-me {
    color: $white;
    padding-bottom: 20px;

    p {
      text-align: center;
    }
  }
}
