html {
  font-family: "Source Sans Pro", "sans-serif"; }

h1 {
  font-size: 3em;
  line-height: 250px;
  text-align: center; }

p {
  line-height: 20px;
  margin: 0 auto;
  width: 90%; }

.title {
  font-weight: bold;
  line-height: 100px; }
  @media (max-width: 420px) {
    .title {
      font-size: 2.1em; } }
  @media (max-width: 330px) {
    .title {
      font-size: 1.9em; } }
  @media (max-width: 280px) {
    .title {
      font-size: 1.7em; } }

.loader {
  left: 50%;
  margin-left: -19px;
  margin-top: -18px;
  position: fixed;
  top: 50%; }

.line {
  -webkit-animation: expand 1s ease-in-out infinite;
          animation: expand 1s ease-in-out infinite;
  border-radius: 10px;
  display: inline-block;
  height: 25px;
  margin: 0 3px;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-transform-origin: center center;
          transform-origin: center center;
  width: 1px; }
  .line:nth-child(1) {
    background: #27ae60; }
  .line:nth-child(2) {
    -webkit-animation-delay: -180ms;
            animation-delay: -180ms;
    background: #f2cc81; }
  .line:nth-child(3) {
    -webkit-animation-delay: -360ms;
            animation-delay: -360ms;
    background: #ed6e56; }
  .line:nth-child(4) {
    -webkit-animation-delay: -540ms;
            animation-delay: -540ms;
    background: #7cced2; }

@-webkit-keyframes expand {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  25% {
    -webkit-transform: scale(2);
            transform: scale(2); } }

@keyframes expand {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  25% {
    -webkit-transform: scale(2);
            transform: scale(2); } }

.bar, .bar::before, .bar::after {
  background-color: #353131;
  content: '';
  height: 4px;
  position: absolute;
  right: 0;
  -webkit-transition: .25s;
  transition: .25s;
  width: 40px; }

.menu-collapsed {
  cursor: pointer;
  height: 36px;
  padding: 35px;
  position: fixed;
  right: 9px;
  top: 10px;
  -webkit-transition: .25s;
  transition: .25s;
  width: 36px;
  z-index: 10; }
  .menu-collapsed .social-nav {
    position: fixed;
    right: -9000px;
    -webkit-transition: 0s;
    transition: 0s; }
    .menu-collapsed .social-nav img {
      width: 48px; }
      @media (max-width: 330px) {
        .menu-collapsed .social-nav img {
          width: 38px; } }
      @media (max-width: 280px) {
        .menu-collapsed .social-nav img {
          width: 30px; } }
  @media (max-width: 420px) {
    .menu-collapsed {
      padding-bottom: 30px;
      padding-left: 60px;
      padding-right: 50px;
      padding-top: 30px; } }
  @media (max-width: 330px) {
    .menu-collapsed {
      padding-left: 40px;
      padding-right: 40px; } }
  .menu-collapsed ul {
    position: fixed;
    right: -9000px;
    -webkit-transition: 0s;
    transition: 0s; }

.bar {
  position: fixed;
  right: 24px;
  top: 36px; }
  .bar::before {
    top: -10px; }
  .bar::after {
    top: 10px; }

.menu-expanded .bar::before, .menu-expanded .bar::after {
  top: 0;
  -webkit-transition: .25s;
  transition: .25s; }

.menu-expanded {
  background-color: #fff;
  height: 100%;
  line-height: 100px;
  right: 0;
  text-align: center;
  top: 0;
  -webkit-transition: .25s;
  transition: .25s;
  width: 100%; }
  @media (max-width: 330px) {
    .menu-expanded {
      line-height: 80px; } }
  .menu-expanded ul {
    position: relative;
    right: 0;
    -webkit-transition: 0s;
    transition: 0s;
    z-index: 2; }
  .menu-expanded .social-nav {
    position: relative;
    right: 0;
    z-index: 2; }
  .menu-expanded a {
    color: #353131;
    font-size: 3em;
    padding: 5px;
    text-decoration: none; }
    .menu-expanded a:hover {
      border-bottom: 4px solid #7cced2; }
  .menu-expanded .bar {
    background-color: transparent;
    -webkit-transition: .25s;
    transition: .25s; }
    .menu-expanded .bar::before {
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg); }
    .menu-expanded .bar::after {
      -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg); }

.who-am-i {
  background-color: #7cced2;
  max-height: 100%;
  min-height: 500px; }
  .who-am-i .title {
    color: #fff;
    line-height: 5px;
    padding-bottom: 20px; }
  .who-am-i .about-me {
    color: #fff;
    padding-bottom: 20px;
    text-align: center; }
    .who-am-i .about-me .mini-point {
      font-size: 14px; }
    .who-am-i .about-me span {
      font-size: 24px;
      font-weight: bold; }
    .who-am-i .about-me p {
      font-size: 22px;
      line-height: 1.33349;
      margin-top: 29px; }

.stuff {
  margin: 20px auto;
  width: 600px; }
  @media (max-width: 420px) {
    .stuff {
      width: 100%; } }
  .stuff .chip {
    background: #f2cc81;
    border-radius: 2px;
    color: #54575c;
    font-size: 16px;
    margin: 5px; }

.hero-wrapper {
  background-color: #fff;
  height: 500px; }
  @media (max-width: 420px) {
    .hero-wrapper {
      height: 360px; } }
  .hero-wrapper .img-wrapper {
    margin: auto;
    width: 70%; }
    @media (max-width: 1900px) {
      .hero-wrapper .img-wrapper {
        width: 42%; } }
    @media (max-width: 1600px) {
      .hero-wrapper .img-wrapper {
        width: 52%; } }
    @media (max-width: 768px) {
      .hero-wrapper .img-wrapper {
        width: 80%; } }
    .hero-wrapper .img-wrapper img {
      margin-bottom: 20px;
      margin-left: 30px;
      margin-right: 30px;
      margin-top: 127px;
      width: 94%; }
      @media (max-width: 420px) {
        .hero-wrapper .img-wrapper img {
          margin-bottom: 15px;
          margin-top: 160px;
          width: 80%; } }
  .hero-wrapper .hero-quote h1 {
    color: #353131;
    font-size: 3em;
    line-height: 70px;
    margin-top: 22px; }
    @media (max-width: 420px) {
      .hero-wrapper .hero-quote h1 {
        font-size: 1.7em;
        line-height: 25px; } }

.hero-divider {
  margin-bottom: -10px; }

.work {
  padding-bottom: 100px; }
  .work .row {
    padding: 0 50px; }
    @media (max-width: 420px) {
      .work .row {
        padding: 0; } }
  .work .card-text {
    padding-top: 75px; }
    @media (max-width: 768px) {
      .work .card-text {
        padding-top: 35px; } }
  .work .shot {
    text-align: center;
    width: 100%; }
    .work .shot .card-reveal {
      background-color: rgba(8, 7, 7, 0.8); }
      .work .shot .card-reveal .right {
        color: #fff; }
      .work .shot .card-reveal p {
        color: #fff;
        font-weight: bold; }
    .work .shot .dribbble-link {
      padding-top: 30px;
      width: 100%; }
      @media (max-width: 768px) {
        .work .shot .dribbble-link {
          padding-top: 20px; } }
      .work .shot .dribbble-link .btn {
        background-color: #ea4c89;
        margin: auto; }
  @media (max-width: 420px) {
    .work .card {
      margin-left: 0;
      margin-right: 0; } }
  .work .title {
    color: #353131; }

.call-wrapper {
  background-color: #f2cc81;
  height: 570px;
  position: relative; }
  @media (max-width: 4000px) {
    .call-wrapper {
      height: 1600px; } }
  @media (max-width: 3000px) {
    .call-wrapper {
      height: 1180px; } }
  @media (max-width: 2100px) {
    .call-wrapper {
      height: 850px; } }
  @media (max-width: 1900px) {
    .call-wrapper {
      height: 730px; } }
  @media (max-width: 1600px) {
    .call-wrapper {
      height: 550px; } }
  @media (max-width: 992px) {
    .call-wrapper {
      height: 600px; } }
  @media (max-width: 868px) {
    .call-wrapper {
      height: 550px; } }
  @media (max-width: 768px) {
    .call-wrapper {
      height: 480px; } }
  @media (max-width: 600px) {
    .call-wrapper {
      height: 350px; } }
  @media (max-width: 540px) {
    .call-wrapper {
      height: 300px; } }
  @media (max-width: 420px) {
    .call-wrapper {
      height: 220px; } }
  @media (max-width: 330px) {
    .call-wrapper {
      height: 210px; } }
  @media (max-width: 280px) {
    .call-wrapper {
      height: 180px; } }
  .call-wrapper img {
    position: absolute;
    top: 0; }
  .call-wrapper .call-quote {
    position: absolute;
    width: 100%; }
    @media (max-width: 4000px) {
      .call-wrapper .call-quote {
        font-size: 2.2em; } }
    @media (max-width: 3000px) {
      .call-wrapper .call-quote {
        font-size: 1.8em; } }
    @media (max-width: 2100px) {
      .call-wrapper .call-quote {
        font-size: 1.3em; } }
    @media (max-width: 1900px) {
      .call-wrapper .call-quote {
        font-size: 1.1em; } }
    .call-wrapper .call-quote a {
      border-bottom: 5px solid #353131;
      color: #353131; }
      @media (max-width: 420px) {
        .call-wrapper .call-quote a {
          border-bottom: 3px solid #353131; } }
    .call-wrapper .call-quote h1 {
      color: #fff;
      font-weight: bold;
      letter-spacing: 2px;
      margin: auto; }
      @media (max-width: 420px) {
        .call-wrapper .call-quote h1 {
          font-size: 2.1em; } }
      @media (max-width: 330px) {
        .call-wrapper .call-quote h1 {
          font-size: 1.8em; } }
      @media (max-width: 280px) {
        .call-wrapper .call-quote h1 {
          font-size: 1.5em;
          margin-top: 0; } }
      .call-wrapper .call-quote h1 span {
        color: #353131; }

.footer {
  background-color: #f2cc81;
  height: 100%; }
  .footer .social {
    list-style-type: none;
    margin: auto;
    padding-top: 45px;
    text-align: center;
    width: 100%; }
    @media (max-width: 330px) {
      .footer .social {
        padding-top: 0; } }
    @media (max-width: 420px) {
      .footer .social {
        padding-top: 40; } }
    .footer .social a {
      padding: 15px; }
      @media (max-width: 330px) {
        .footer .social a {
          padding: 9px; } }
      @media (max-width: 420px) {
        .footer .social a {
          padding: 10px; } }
    .footer .social img {
      width: 50px; }
      @media (max-width: 330px) {
        .footer .social img {
          width: 42px; } }
