html {
  font-family: "Source Sans Pro", "sans-serif"; }

h1 {
  font-size: 3em;
  line-height: 250px;
  text-align: center; }

p {
  line-height: 20px;
  margin: 0 auto;
  width: 90%; }

.title {
  font-weight: bold;
  line-height: 100px; }
  @media (max-width: 767px) {
    .title {
      font-size: 2.3em; } }

.bar, .bar::before, .bar::after {
  background-color: #353131;
  content: '';
  height: 4px;
  position: absolute;
  right: 0;
  transition: .25s;
  width: 40px; }

.menu-collapsed {
  cursor: pointer;
  height: 36px;
  padding: 35px;
  position: fixed;
  right: 9px;
  top: 10px;
  transition: .25s;
  width: 36px;
  z-index: 10; }
  @media (max-width: 767px) {
    .menu-collapsed {
      padding-bottom: 30px;
      padding-left: 60px;
      padding-right: 50px;
      padding-top: 30px; } }
  .menu-collapsed ul {
    position: fixed;
    right: -9000px;
    transition: 0s; }

.bar {
  position: fixed;
  right: 24px;
  top: 36px; }
  .bar::before {
    top: -10px; }
  .bar::after {
    top: 10px; }

.menu-expanded .bar::before, .menu-expanded .bar::after {
  top: 0;
  transition: .25s; }

.menu-expanded {
  background-color: #fff;
  height: 100%;
  line-height: 100px;
  right: 0;
  text-align: center;
  top: 0;
  transition: .25s;
  width: 100%; }
  .menu-expanded ul {
    position: relative;
    right: 0;
    transition: 0s;
    z-index: 2; }
  .menu-expanded a {
    color: #353131;
    font-size: 3em;
    padding: 5px;
    text-decoration: none; }
    .menu-expanded a:hover {
      border-bottom: 4px solid #7cced2; }
  .menu-expanded .bar {
    background-color: transparent;
    transition: .25s; }
    .menu-expanded .bar::before {
      transform: rotate(45deg); }
    .menu-expanded .bar::after {
      transform: rotate(-45deg); }

.who-am-i {
  background-color: #7cced2;
  max-height: 100%;
  min-height: 500px; }
  .who-am-i .title {
    color: #fff;
    line-height: 5px;
    padding-bottom: 20px; }
  .who-am-i .about-me {
    color: #fff;
    padding-bottom: 20px;
    text-align: center; }
    .who-am-i .about-me .mini-point {
      font-size: 14px; }
    .who-am-i .about-me span {
      font-size: 24px;
      font-weight: bold; }
    .who-am-i .about-me p {
      font-size: 22px;
      line-height: 1.33349;
      margin-top: 29px; }

.hero-wrapper {
  background-color: #fff;
  height: 500px; }
  @media (max-width: 767px) {
    .hero-wrapper {
      height: 360px; } }
  .hero-wrapper .img-wrapper {
    margin: auto;
    width: 70%; }
    @media (max-width: 767px) {
      .hero-wrapper .img-wrapper {
        width: 100%; } }
    .hero-wrapper .img-wrapper img {
      margin-bottom: 50px;
      margin-left: 30px;
      margin-right: 30px;
      margin-top: 100px; }
      @media (max-width: 767px) {
        .hero-wrapper .img-wrapper img {
          margin-bottom: 15px;
          margin-top: 160px; } }
  .hero-wrapper .hero-quote h1 {
    color: #353131;
    font-size: 3em;
    line-height: 70px;
    margin-top: 22px; }
    @media (max-width: 767px) {
      .hero-wrapper .hero-quote h1 {
        font-size: 1.7em;
        line-height: 25px; } }

.hero-divider {
  margin-bottom: -10px; }

.work {
  padding-bottom: 100px; }
  @media (max-width: 767px) {
    .work .card {
      margin-left: 16px;
      margin-right: 16px; } }
  .work .title {
    color: #353131; }

.call-wrapper {
  background-color: #f2cc81;
  height: 550px;
  position: relative; }
  @media (max-width: 767px) {
    .call-wrapper {
      height: 220px; } }
  .call-wrapper img {
    position: absolute;
    top: 0; }
  .call-wrapper .call-quote {
    position: absolute;
    width: 100%; }
    .call-wrapper .call-quote a {
      color: #353131; }
      .call-wrapper .call-quote a:hover {
        border-bottom: 5px solid #353131; }
    .call-wrapper .call-quote h1 {
      color: #fff;
      font-weight: bold;
      letter-spacing: 2px;
      margin: auto; }
      @media (max-width: 767px) {
        .call-wrapper .call-quote h1 {
          font-size: 2.3em;
          margin-top: 0; } }
      .call-wrapper .call-quote h1 span {
        color: #353131; }

.footer {
  background-color: #f2cc81;
  height: 100%; }
  .footer .social {
    list-style-type: none;
    margin: auto;
    padding-top: 45px;
    text-align: center;
    width: 100%; }
    @media (max-width: 767px) {
      .footer .social {
        padding-top: 40px; } }
    .footer .social a {
      padding: 15px; }
      @media (max-width: 767px) {
        .footer .social a {
          padding: 10px; } }
    .footer .social img {
      width: 50px; }
